src/gme/AIM_TCGA09302009_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" targetNamespace="gme://caCORE.caCORE/3.2/edu.northwestern.radiology.AIM" elementFormDefault="qualified">
	<xs:simpleType name="CalculationResultIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Scalar"/>
			<xs:enumeration value="Vector"/>
			<xs:enumeration value="Histogram"/>
			<xs:enumeration value="Matrix"/>
			<xs:enumeration value="Array"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SegmentationIdentifier">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Binary"/>
			<xs:enumeration value="Fractional_Probability"/>
			<xs:enumeration value="Fractional_Occupancy"/>
			<xs:enumeration value="Surface"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MultiPoint">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencedCalculation">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="uniqueIdentifier" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SpatialCoordinate" abstract="true">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="coordinateIndex" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReferencedAnnotation">
		<xs:sequence>
			<xs:element name="annotationRole" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnnotationRole" type="AnnotationRole" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="referencedAnnotationUID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Annotation" abstract="true">
		<xs:sequence>
			<xs:element name="calculationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Calculation" type="Calculation" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="user" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="User" type="User" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="equipment" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Equipment" type="Equipment" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="anatomicEntityCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnatomicEntity" type="AnatomicEntity" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="imagingObservationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImagingObservation" type="ImagingObservation" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="aimVersion" type="xs:string" use="required"/>
		<xs:attribute name="comment" type="xs:string" use="optional"/>
		<xs:attribute name="dateTime" type="xs:dateTime" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="uniqueIdentifier" type="xs:string" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Data">
		<xs:sequence>
			<xs:element name="coordinateCollection" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Coordinate" type="Coordinate" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="value" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:complexType name="ReferencedGeometricShape">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="referencedShapeIdentifier" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="AnatomicEntity">
		<xs:sequence>
			<xs:element name="anatomicEntityCharacteristicCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AnatomicEntityCharacteristic" type="AnatomicEntityCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="confidence" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Coordinate">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="dimensionIndex" type="xs:integer" use="required"/>
		<xs:attribute name="position" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="AnatomicEntityCharacteristic">
		<xs:sequence>
			<xs:element name="rating" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rating" type="Rating" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="confidence" type="xs:double" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ImageReference" abstract="true">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="DICOMImageReference">
		<xs:complexContent>
			<xs:extension base="ImageReference">
				<xs:sequence>
					<xs:element name="study" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Study" type="Study" minOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WebImageReference">
		<xs:complexContent>
			<xs:extension base="ImageReference">
				<xs:sequence/>
				<xs:attribute name="uri" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Dimension">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="index" type="xs:integer" use="required"/>
		<xs:attribute name="size" type="xs:integer" use="required"/>
		<xs:attribute name="label" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Image">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="sopClassUID" type="xs:string" use="required"/>
		<xs:attribute name="sopInstanceUID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="AnnotationOfAnnotation" type="AnnotationOfAnnotation"/>
	<xs:complexType name="AnnotationOfAnnotation">
		<xs:complexContent>
			<xs:extension base="Annotation">
				<xs:sequence>
					<xs:element name="referencedAnnotationCollection" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ReferencedAnnotation" type="ReferencedAnnotation" minOccurs="1" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Point">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextAnnotation">
		<xs:sequence>
			<xs:element name="multiPoint" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MultiPoint" type="MultiPoint" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="font" type="xs:string" use="optional"/>
		<xs:attribute name="fontColor" type="xs:string" use="optional"/>
		<xs:attribute name="fontEffect" type="xs:string" use="optional"/>
		<xs:attribute name="fontSize" type="xs:string" use="optional"/>
		<xs:attribute name="fontStyle" type="xs:string" use="optional"/>
		<xs:attribute name="text" type="xs:string" use="required"/>
		<xs:attribute name="textJustify" type="xs:string" use="optional"/>
		<xs:attribute name="fontOpacity" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GeometricShape" abstract="true">
		<xs:sequence>
			<xs:element name="spatialCoordinateCollection" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpatialCoordinate" type="SpatialCoordinate" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="lineColor" type="xs:string" use="optional"/>
		<xs:attribute name="lineOpacity" type="xs:string" use="optional"/>
		<xs:attribute name="lineStyle" type="xs:string" use="optional"/>
		<xs:attribute name="lineThickness" type="xs:string" use="optional"/>
		<xs:attribute name="includeFlag" type="xs:boolean" use="required"/>
		<xs:attribute name="shapeIdentifier" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="Segmentation">
		<xs:sequence>
			<xs:element name="imagingObservation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImagingObservation" type="ImagingObservation" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="type" type="SegmentationIdentifier" use="required"/>
		<xs:attribute name="sopInstanceUID" type="xs:string" use="required"/>
		<xs:attribute name="sopClassUID" type="xs:string" use="required"/>
		<xs:attribute name="referencedSopInstanceUID" type="xs:string" use="required"/>
		<xs:attribute name="segmentNumber" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="Polyline">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Rating">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="max" type="xs:integer" use="required"/>
		<xs:attribute name="min" type="xs:integer" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="AnnotationRole">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="roleSequenceNumber" type="xs:integer" use="required"/>
	</xs:complexType>
	<xs:complexType name="Calculation">
		<xs:sequence>
			<xs:element name="referencedCalculationCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferencedCalculation" type="ReferencedCalculation" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="calculationResultCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CalculationResult" type="CalculationResult" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="referencedGeometricShapeCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ReferencedGeometricShape" type="ReferencedGeometricShape" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="uid" type="xs:string" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="mathML" type="xs:string" use="optional"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ImagingObservation">
		<xs:sequence>
			<xs:element name="imagingObservationCharacteristicCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImagingObservationCharacteristic" type="ImagingObservationCharacteristic" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="segmentation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Segmentation" type="Segmentation" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="comment" type="xs:string" use="optional"/>
		<xs:attribute name="confidence" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="User">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="loginName" type="xs:string" use="required"/>
		<xs:attribute name="roleInTrial" type="xs:string" use="optional"/>
		<xs:attribute name="numberWithinRoleOfClinicalTrial" type="xs:integer" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Series">
		<xs:sequence>
			<xs:element name="imageCollection" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Image" type="Image" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="instanceUID" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ImagingObservationCharacteristic">
		<xs:sequence>
			<xs:element name="rating" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rating" type="Rating" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="comment" type="xs:string" use="optional"/>
		<xs:attribute name="confidence" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Equipment">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="manufacturer" type="xs:string" use="required"/>
		<xs:attribute name="manufacturerModelName" type="xs:string" use="optional"/>
		<xs:attribute name="softwareVersion" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Circle">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ThreeDimensionSpatialCoordinate">
		<xs:complexContent>
			<xs:extension base="SpatialCoordinate">
				<xs:sequence/>
				<xs:attribute name="x" type="xs:double" use="required"/>
				<xs:attribute name="y" type="xs:double" use="required"/>
				<xs:attribute name="z" type="xs:double" use="required"/>
				<xs:attribute name="frameOfReferenceUID" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CalculationResult">
		<xs:sequence>
			<xs:element name="dataCollection" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Data" type="Data" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dimensionCollection" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dimension" type="Dimension" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="type" type="CalculationResultIdentifier" use="required"/>
		<xs:attribute name="numberOfDimensions" type="xs:integer" use="required"/>
		<xs:attribute name="unitOfMeasure" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="Ellipse">
		<xs:complexContent>
			<xs:extension base="GeometricShape">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Patient">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="patientID" type="xs:string" use="required"/>
		<xs:attribute name="birthDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="sex" type="xs:string" use="optional"/>
		<xs:attribute name="ethnicGroup" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Study">
		<xs:sequence>
			<xs:element name="series" minOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Series" type="Series" minOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="instanceUID" type="xs:string" use="required"/>
		<xs:attribute name="studyDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="studyTime" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Inference">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:integer" use="required"/>
		<xs:attribute name="codeValue" type="xs:string" use="required"/>
		<xs:attribute name="codeMeaning" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeDesignator" type="xs:string" use="required"/>
		<xs:attribute name="codingSchemeVersion" type="xs:string" use="optional"/>
		<xs:attribute name="confidence" type="xs:double" use="optional"/>
		<xs:attribute name="truth" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:element name="ImageAnnotation" type="ImageAnnotation"/>
	<xs:complexType name="ImageAnnotation">
		<xs:complexContent>
			<xs:extension base="Annotation">
				<xs:sequence>
					<xs:element name="segmentationCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Segmentation" type="Segmentation" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="inferenceCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Inference" type="Inference" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="imageReferenceCollection" minOccurs="1">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ImageReference" type="ImageReference" minOccurs="1" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="patient" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Patient" type="Patient" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="geometricShapeCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GeometricShape" type="GeometricShape" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="textAnnotationCollection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TextAnnotation" type="TextAnnotation" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TwoDimensionSpatialCoordinate">
		<xs:complexContent>
			<xs:extension base="SpatialCoordinate">
				<xs:sequence/>
				<xs:attribute name="imageReferenceUID" type="xs:string" use="required"/>
				<xs:attribute name="referencedFrameNumber" type="xs:integer" use="required"/>
				<xs:attribute name="x" type="xs:double" use="required"/>
				<xs:attribute name="y" type="xs:double" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>